header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #afb0bb;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: fixed
    top: 0;
    left: 0;
    font-style: italic;
    color: #1b2f53;
    text-align: center;
}
h1 {
    font-size: 50px;
    font-style: italic;
    position: left;
    color: hsl(19, 79%, 44%);
    text-align: left;
}
h2{
    font-size: 30px;
 
}
h3{
    font-size: 20px;
}
h4{
    font-size: 10px;
 
}
nav {
    padding: 20px 80px;
    background-color: #454;
    color: #fff;
    padding: 10px;
    text-align: right;
    z-index: 999;
    position: fixed
    top: 0;
    left: 0;
}
#oop{
    font-size: 20px;
    font-style: italic;
    text-align: left;

}