/* Basic CSS styling */
body {
    background-image: -moz-repeating-linear-gradient(f)
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #454;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: rgb(173, 28, 28);
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    background-color: #454
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background-color: rgb(215, 233, 238);
    width: 10%;
    min-width: 25px;
    padding: 10px 12px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    text-align: center;
    cursor: pointer;
}

.product :hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.17);
}
.product img {
    width: 100px;
    height: auto;
}

.add-to-cart-btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #45a049;
}

